# For Server-Side Rendering (SSR) and API routes
SUPABASE_URL=###
SUPABASE_ANON_KEY=###
SUPABASE_SERVICE_ROLE_KEY=###

# For Client-Side Components (if needed)
PUBLIC_SUPABASE_URL=###
PUBLIC_SUPABASE_ANON_KEY=###

OPENROUTER_API_KEY=###
PUBLIC_MOCK_SERVICES=false